body {
font-family: "Roboto" , sans-serif ;
color: #434455;
background-color: #FFFFFF;
margin: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row; 
}

a {
display: block;
text-decoration: none;
padding: 15px;
}
 

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {    
}

.header-navigation {
  display: flex; 
  align-items: center;
}

.logo {
  margin-right: auto;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: auto;
   
}

.logo-dark {
    color:#2E2F42 ;
}

.header-container {
  display: flex;
  justify-items: center;  
}


.header-menu-list {

}

.header-menu-item {
  padding: 24px 0; 
}

.header-menu-link {
  display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
}

.header-menu-link:hover {
  color: #404BBF;
}

.header-menu-link:active {
  color: #404BBF;
}

.header-menu-link:focus {
  color: #404BBF;
}

.address {
  font-style: normal;
  margin-left: auto;
 display: flex;
 justify-content: flex-end;
}

.address-menu {
  padding: 24px 0; 
}

.address-menu-item {
}

.address-link {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

.address-link:hover {
  color: #404BBF;
}

.address-link:focus {
color: #404BBF;
}

.hero {
  background: #2e2f42;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 48px;
  font-size: 56px;
   line-height: 1.07;
  letter-spacing: 0.02em;
   color:#fff;
}

.hero-btn {
  display: block;
  margin: 0 auto;
 padding: 16px 32px;
  border-radius: 4px;
   cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:#FFFFFF;
   background: #4D5AE5;
}

.hero-btn:hover {
  background: #404BBF;
}

.hero-btn:focus {
  background: #404BBF;
}

.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
display: flex;
padding: 0 15px;
gap: 24px;
}

.feature-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3); 
}

.feature-list-title {
  margin-top: 0;
  margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-list-subtitle {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
 background: #f4f4fd;
 padding: 120px;
}

.team-text-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 16px 32px;
}

.team-title {
  margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
  }

.team-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 32px;
}

.team-list-item {
  background-color: #ffffff;
  
}

.team-list-title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  
 
}

.team-list-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.portfolio {
  padding: 120px; 
}

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-menu-item  {
  background-color: #ffffff;
  width: calc((100% - 72px) / 3); 
}
  
.portfolio-card {
}

.portfolio-menu-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.portfolio-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.footer {
  background: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;;
}

.logo-whith {
  font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
  padding-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-container {
  padding: 100px 760px 100px 0px;
}
