body {
font-family: "Roboto" , sans-serif ;
color: #434455;
background-color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row; 
}

a {
text-decoration: none;
}

.container {
 width: 1440px;
 padding: 0 15px;
}

.header {

}

.header-navigation {

}

.logo {
font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-dark {
    color:#2E2F42 ;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42 ;
}

.header-menu-link:hover {
  color: #404BBF;

}

.header-menu-link:active {
  color: #404BBF;
}

.header-menu-link:focus {
  color: #404BBF;
}

.address {
  font-style: normal;
 display: flex;
 justify-content: flex-end;
}

.address-menu {}

.address-menu-item {}

.address-link {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455 ;

}

.address-link:hover {
  color: #404BBF ;
}

.address-link:focus {
color: #404BBF ;
}

.hero {
  background: #2e2f42;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 292px;
  font-size: 56px;
   line-height: 1.07;
  letter-spacing: 0.02em;
   color:#fff;
}

.hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
   cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:#FFFFFF ;
   background: #4D5AE5;
}

.hero-btn:hover {
  background: #404BBF;
}

.hero-btn:focus {
  background: #404BBF;
}

.feature {
  padding: 120px 156 px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.feature-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 16px;
}

.feature-list-item {
  
}


.feature-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-list-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
 background: #f4f4fd;

}

.team-title {
  padding-top: 120px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
  }

.team-list {
  padding: 72px 156px 120px;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;
}

.team-list-item {
    background-color: #ffffff;
  
}

.team-list-title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
 
}

.team-list-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.portfolio {
 padding-top: 120px 156px;
}

.portfolio-title {
  padding-top: 32px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.portfolio-menu-list {

}

.portfolio-menu-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.portfolio-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.footer {
  background: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;;
}

.logo-whith {
  font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-container {
  padding: 100px 1020px 100px 156px;
}